table{
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}
th,td{
    border: 1px solid #ddd;
    padding: 3% 1%
}
th{
    background-color: #f2f2f2;
}

#contactForm{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
label{
    display: block;
    margin-bottom: 5px;
}
input,textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button{
    padding: 10px 20px;
    background-color: #28a745;
    color: white;

    border-collapse:collapse;
    border-radius:  3px;
    cursor: pointer;
}
button:hover{
    background-color: #218838;
}
#confirmationMassage{
    display: none;
    color: green;
    margin-top: 10px;
}
